.menuBackground {
    -fx-background-image: url("../photos/Eriantys_slider.jpg");
    -fx-background-size: cover;
    -fx-position: relative;
}

.smallButton {
    -fx-font-family: 'LillyBelle';
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-background-image: url("../photos/button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-label-padding: -3px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.style{
    -fx-font-family: 'LillyBelle';
    -fx-font-size: 40;
    -fx-text-fill: white;
}