.menuBackground {
    -fx-background-image: url("../photos/Eriantys_slider.jpg");
    -fx-background-size: stretch;
    -fx-position: relative;
}

.smallButton {
    -fx-font-size: 16;
    -fx-background-image: url("../photos/buttons/horizontal.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-label-padding: -3px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 16;
    -fx-background-image: url("../photos/buttons/rounded.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-label-padding: -3px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}